{{ define "main" }}

<main>
    <div class="column left">
        <img src="images/logo.png" width="300" height="300" class="portrait" alt="Portrait" />
    </div>
    <div class="column right">
        <h1>{{ i18n "website" }}.</h1>
        <h2>{{ i18n "tagline" }}</h2>
        <p>{{- partial "introduction.md" . -}}</p>
        
        <div class="links">
            {{- range .Site.Params.links -}}
                <a href="{{ .url }}" title="{{ .title }}">
                    <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                </a>
            {{- end -}}
        </div>
    </div>
</main>

{{ end }}
